body {
    background-image: url('../public/logo.png');
    background-size: 200px;
    background-repeat: repeat;
    background-color: rgb(46, 245, 46);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.box {
    background-color: white;
    width: min-content;
    height: 700px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

label {
    font-size: 12px;
    margin-right: 2px;
}

img {
    height: 200px;
    width: 250px;
    margin-bottom: 2em;
}

.interno {
    height: 200px;
    width: 200px;
}

.botao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1em;
    
}

input {
    height: 1.2em;
}

h3 {
    height: fit-content;
}

h4 {
    padding-top: 10px;
}