body {
    background-color: rgb(119, 253, 119);
}

main {
    display: flex;
}

.box {
    background-color: white;
    width: 400px;
    height: 600px;
    margin-left: 2em;
    padding: 30px;
    border: 1px solid rgb(114, 114, 114);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

label {
    font-size: 12px;
}

Image {
    width: 300px;
    
}